name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    uses: causaliq/causaliq/.github/workflows/shared-ci.yml@main
    with:
      python-versions: '["3.9", "3.10", "3.11", "3.12", "3.13"]'
      operating-systems: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      package-name: "causaliq-workflow"
      extra-index-url: "https://test.pypi.org/simple/"